<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calistung">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calistung">
        <activity

            android:name=".ui.daftarisibelajar.DaftarIsiBelajarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajarlatihan.BelajarLatihanActivity"
            android:exported="false"
            android:parentActivityName=".ui.menu.menuPageActivity"
            />
        <activity
            android:name=".ui.halamandaftarbelajar.DaftarBelajarActivity"
            android:exported="false"
            android:parentActivityName=".ui.belajarlatihan.BelajarLatihanActivity"
            />
        <activity
            android:name=".ui.menu.menuPageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"/>



    </application>

</manifest>