<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.calistung">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calistung">
        <activity
            android:name=".ui.bebas_gambar.bebasGambarActivity"
            android:exported="false"
            android:label="Bebas Gambar"
            />
        <activity
            android:name=".ui.latihan.daftar_isi_latihan.DaftarIsiLatihanActivity"
            android:exported="false"
            android:label="latihan" />
        <activity
            android:name=".ui.latihan.daftar_latihan.DaftarLatihanActivity"
            android:exported="false"
            android:label="Daftar Jenis latihan" />
        <activity
            android:name=".ui.belajar.daftar_isi_belajar.DaftarIsiBelajarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajarlatihan.BelajarLatihanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.daftar_belajar.DaftarBelajarActivity"
            android:exported="false"
            android:label="Belajar" />
        <activity
            android:name=".ui.menu.MenuPageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.latihan.latihan_draw.TrainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.belajar.daftar_isi_belajar_grid.DaftarIsiBelajarGridActivity"
            android:exported="false"
            android:label="Belajar" />
        <activity
            android:name=".ui.belajar.belajar_draw.LearnActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>